/**
* States section
* Needs to be separate from .udacity since it's applied
* from the <html> element and not the <section> containers
*/
.segue--blue .reveal {
  background: #02b3e4;
  color: #fff; }
  .segue--blue .reveal h1, .segue--blue .reveal h2, .segue--blue .reveal h3, .segue--blue .reveal h4, .segue--blue .reveal h5, .segue--blue .reveal h6 {
    color: #fff; }

.segue-gradient--blue-green .reveal {
  background: linear-gradient(90deg, #02ccba 0%, #02b3e4 100%);
  color: #fff; }
  .segue-gradient--blue-green .reveal h1, .segue-gradient--blue-green .reveal h2, .segue-gradient--blue-green .reveal h3, .segue-gradient--blue-green .reveal h4, .segue-gradient--blue-green .reveal h5, .segue-gradient--blue-green .reveal h6 {
    color: #fff; }

.segue-gradient--green-purple .reveal {
  background: linear-gradient(90deg, #02ccba 0%, #a951ed 100%);
  color: #fff; }
  .segue-gradient--green-purple .reveal h1, .segue-gradient--green-purple .reveal h2, .segue-gradient--green-purple .reveal h3, .segue-gradient--green-purple .reveal h4, .segue-gradient--green-purple .reveal h5, .segue-gradient--green-purple .reveal h6 {
    color: #fff; }

.segue-gradient--purple-magenta .reveal {
  background: linear-gradient(90deg, #ff5483 0%, #a951ed 100%);
  color: #fff; }
  .segue-gradient--purple-magenta .reveal h1, .segue-gradient--purple-magenta .reveal h2, .segue-gradient--purple-magenta .reveal h3, .segue-gradient--purple-magenta .reveal h4, .segue-gradient--purple-magenta .reveal h5, .segue-gradient--purple-magenta .reveal h6 {
    color: #fff; }

.segue-gradient--magenta-orange .reveal {
  background: linear-gradient(90deg, #ffa234 0%, #ff5483 100%);
  color: #fff; }
  .segue-gradient--magenta-orange .reveal h1, .segue-gradient--magenta-orange .reveal h2, .segue-gradient--magenta-orange .reveal h3, .segue-gradient--magenta-orange .reveal h4, .segue-gradient--magenta-orange .reveal h5, .segue-gradient--magenta-orange .reveal h6 {
    color: #fff; }

.segue-lower-corner--blue-green {
  background: #fff; }
  .segue-lower-corner--blue-green body::before {
    width: 100%;
    height: 100%;
    content: '';
    background: #fff;
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform: skew(0, -15deg);
            transform: skew(0, -15deg);
    z-index: 1; }
  .segue-lower-corner--blue-green body::after {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #02ccba 0%, #02b3e4 100%);
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
    position: absolute;
    right: 0;
    bottom: 0; }

.segue-lower-corner--green-purple {
  background: #fff; }
  .segue-lower-corner--green-purple body::before {
    width: 100%;
    height: 100%;
    content: '';
    background: #fff;
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform: skew(0, -15deg);
            transform: skew(0, -15deg);
    z-index: 1; }
  .segue-lower-corner--green-purple body::after {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #02ccba 0%, #a951ed 100%);
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
    position: absolute;
    right: 0;
    bottom: 0; }

.segue-lower-corner--purple-magenta {
  background: #fff; }
  .segue-lower-corner--purple-magenta body::before {
    width: 100%;
    height: 100%;
    content: '';
    background: #fff;
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform: skew(0, -15deg);
            transform: skew(0, -15deg);
    z-index: 1; }
  .segue-lower-corner--purple-magenta body::after {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #ff5483 0%, #a951ed 100%);
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
    position: absolute;
    right: 0;
    bottom: 0; }

.segue-lower-corner--magenta-orange {
  background: #fff; }
  .segue-lower-corner--magenta-orange body::before {
    width: 100%;
    height: 100%;
    content: '';
    background: #fff;
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform: skew(0, -15deg);
            transform: skew(0, -15deg);
    z-index: 1; }
  .segue-lower-corner--magenta-orange body::after {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #ffa234 0%, #ff5483 100%);
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
    position: absolute;
    right: 0;
    bottom: 0; }

.segue .udacity .navigate-left {
  border-right-color: #2e3d49 !important; }
  .segue .udacity .navigate-left:hover {
    border-right-color: #525c65 !important; }

.segue .udacity .navigate-right {
  border-left-color: #2e3d49 !important; }
  .segue .udacity .navigate-right:hover {
    border-left-color: #525c65 !important; }

.segue .udacity .navigate-up {
  border-bottom-color: #2e3d49 !important; }
  .segue .udacity .navigate-up:hover {
    border-bottom-color: #525c65 !important; }

.segue .udacity .navigate-down {
  border-top-color: #2e3d49 !important; }
  .segue .udacity .navigate-down:hover {
    border-top-color: #525c65 !important; }

.colorize--blue .reveal {
  color: #fff; }
  .colorize--blue .reveal h1, .colorize--blue .reveal h2, .colorize--blue .reveal h3, .colorize--blue .reveal h4, .colorize--blue .reveal h5, .colorize--blue .reveal h6 {
    color: #fff; }
  .colorize--blue .reveal::after {
    width: 100%;
    height: 100%;
    content: '';
    background: #02b3e4;
    opacity: 0.85;
    position: absolute;
    left: 0;
    top: 0; }

.colorize-gradient--blue-green .reveal {
  color: #fff; }
  .colorize-gradient--blue-green .reveal h1, .colorize-gradient--blue-green .reveal h2, .colorize-gradient--blue-green .reveal h3, .colorize-gradient--blue-green .reveal h4, .colorize-gradient--blue-green .reveal h5, .colorize-gradient--blue-green .reveal h6 {
    color: #fff; }
  .colorize-gradient--blue-green .reveal::after {
    width: 100%;
    height: 100%;
    content: '';
    background: linear-gradient(90deg, #02ccba 0%, #02b3e4 100%);
    opacity: 0.85;
    position: absolute;
    left: 0;
    top: 0; }

.colorize-gradient--green-purple .reveal {
  color: #fff; }
  .colorize-gradient--green-purple .reveal h1, .colorize-gradient--green-purple .reveal h2, .colorize-gradient--green-purple .reveal h3, .colorize-gradient--green-purple .reveal h4, .colorize-gradient--green-purple .reveal h5, .colorize-gradient--green-purple .reveal h6 {
    color: #fff; }
  .colorize-gradient--green-purple .reveal::after {
    width: 100%;
    height: 100%;
    content: '';
    background: linear-gradient(90deg, #02ccba 0%, #a951ed 100%);
    opacity: 0.85;
    position: absolute;
    left: 0;
    top: 0; }

.colorize-gradient--purple-magenta .reveal {
  color: #fff; }
  .colorize-gradient--purple-magenta .reveal h1, .colorize-gradient--purple-magenta .reveal h2, .colorize-gradient--purple-magenta .reveal h3, .colorize-gradient--purple-magenta .reveal h4, .colorize-gradient--purple-magenta .reveal h5, .colorize-gradient--purple-magenta .reveal h6 {
    color: #fff; }
  .colorize-gradient--purple-magenta .reveal::after {
    width: 100%;
    height: 100%;
    content: '';
    background: linear-gradient(90deg, #ff5483 0%, #a951ed 100%);
    opacity: 0.85;
    position: absolute;
    left: 0;
    top: 0; }

.colorize-gradient--magenta-orange .reveal {
  color: #fff; }
  .colorize-gradient--magenta-orange .reveal h1, .colorize-gradient--magenta-orange .reveal h2, .colorize-gradient--magenta-orange .reveal h3, .colorize-gradient--magenta-orange .reveal h4, .colorize-gradient--magenta-orange .reveal h5, .colorize-gradient--magenta-orange .reveal h6 {
    color: #fff; }
  .colorize-gradient--magenta-orange .reveal::after {
    width: 100%;
    height: 100%;
    content: '';
    background: linear-gradient(90deg, #ffa234 0%, #ff5483 100%);
    opacity: 0.85;
    position: absolute;
    left: 0;
    top: 0; }

.colorize .udacity .navigate-left {
  border-right-color: #2e3d49 !important; }
  .colorize .udacity .navigate-left:hover {
    border-right-color: #525c65 !important; }

.colorize .udacity .navigate-right {
  border-left-color: #2e3d49 !important; }
  .colorize .udacity .navigate-right:hover {
    border-left-color: #525c65 !important; }

.colorize .udacity .navigate-up {
  border-bottom-color: #2e3d49 !important; }
  .colorize .udacity .navigate-up:hover {
    border-bottom-color: #525c65 !important; }

.colorize .udacity .navigate-down {
  border-top-color: #2e3d49 !important; }
  .colorize .udacity .navigate-down:hover {
    border-top-color: #525c65 !important; }

.udacity-logo--white_show .udacity-logo--white {
  display: block; }

.udacity-logo--white_show .reveal .controls:after {
  content: "" !important; }

.image-with-white-bg .reveal .controls:after {
  color: #02b3e4 !important; }

.udacity section.row {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  height: 100%; }

.udacity h1, .udacity h2 {
  text-transform: none; }

.udacity .light {
  color: #fff; }

.udacity .subtitle {
  color: #02b3e4; }

.udacity .navigate-left {
  border-right-color: #02b3e4 !important; }
  .udacity .navigate-left:hover {
    border-right-color: #91daee !important; }

.udacity .navigate-right {
  border-left-color: #02b3e4 !important; }
  .udacity .navigate-right:hover {
    border-left-color: #91daee !important; }

.udacity .navigate-up {
  border-bottom-color: #02b3e4 !important; }
  .udacity .navigate-up:hover {
    border-bottom-color: #91daee !important; }

.udacity .navigate-down {
  border-top-color: #02b3e4 !important; }
  .udacity .navigate-down:hover {
    border-top-color: #91daee !important; }

.udacity .reveal .controls {
  width: 160px;
  height: 30px;
  right: 30px;
  bottom: 30px;
  text-align: center; }
  .udacity .reveal .controls button {
    -webkit-transform: scale(0.75);
            transform: scale(0.75); }
  .udacity .reveal .controls:after {
    vertical-align: top;
    color: #fff;
    font-size: 0.65em;
    content: "@hermagrini"; }
  .udacity .reveal .controls .navigate-up {
    top: -35px;
    left: 68px; }
  .udacity .reveal .controls .navigate-down {
    top: 30px;
    left: 68px; }
  .udacity .reveal .controls .navigate-right {
    left: 160px;
    top: 3px; }
  .udacity .reveal .controls .navigate-left {
    top: 3px;
    left: -35px; }

.udacity .unstyled {
  border: none !important;
  background: none !important;
  box-shadow: none !important; }

.udacity .javascript {
  max-height: none !important; }

.udacity .reveal pre {
  font-size: 0.7em;
  box-shadow: none; }

.udacity mark {
  background-color: #ca2f5a;
  color: white; }
  .udacity mark .hljs-string {
    color: white; }

.udacity-logo--white {
  width: 350px;
  position: absolute;
  display: none;
  left: 0;
  bottom: 0; }

.udacity .bar-set {
  font-size: 1em; }
  .udacity .bar-set ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: inline-block;
    position: relative; }
    .udacity .bar-set ul li {
      height: 45px;
      background-color: #fff;
      content: '';
      line-height: 45px;
      text-align: right;
      padding-top: 1px;
      padding-right: 3px; }
      .udacity .bar-set ul li span {
        background: linear-gradient(90deg, #ffa234 0%, #ff5483 100%);
        font-weight: 900;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; }

.udacity .bar-row {
  padding: 15px 0;
  min-height: 35px;
  clear: both; }

.udacity .bar-label {
  padding-right: 20px;
  display: inline-block;
  float: left;
  text-align: right; }

.udacity .loading-example_container {
  position: absolute;
  height: 60%;
  width: 55%;
  top: 50%;
  -webkit-transform: translate(3%, -57%);
          transform: translate(3%, -57%); }
  .udacity .loading-example_container img, .udacity .loading-example_container video {
    position: absolute;
    top: 0; }
